 
/*==== Carousel ==== */
.carousel {
  position: relative;
  height: 800px;
  width: 80%;
  margin: 0 auto;
  background-color: pink;
}


.car1, .car2, .car3 {
  position: absolute;
  width: 100%;
  height: 100%;
}


.car1 {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  background-color: rgb(255, 215, 221);
  z-index: 3;
  
}

.car2 {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  background-color: rgb(140, 232, 255);
  z-index: 2;
}

.car3 {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
  background-color: rgb(227, 233, 155);
  z-index: 1;
}

p1 {
  font-size: 40px;
  text-align: center;
  color: rgb(159, 0, 0);
}

img {
  position: relative;
  width: 400px;
}


/* ==== Buttons ==== */
.enterBtn, .startBtn, .playAgainBtn {
  color: rgb(159, 0, 0);
  background-color: white;
}

.enterBtn:hover, .startBtn:hover, .playAgainBtn:hover {
  background-color: rgb(159, 0, 0);
  color: white;
}

.redArmyBtn:hover {
  background-color: rgb(159, 0, 0);
}

.blueArmyBtn:hover {
  background-color: rgb(2, 2, 135);
}


/* ==== KINGDOM SCREEN ==== */
.board2 {
  width: 250px;
  display: flexbox;
  position: relative;
}

.redArmy, .blueArmy {
  width: 60px;
  height: 60px;
  position: relative;  
}




/* ==== GAME SCREEN ==== */
.chess-board {
  border-spacing: 0;
  border-collapse: collapse;
}

.chess-board th:hover, .chess-board td:hover {
  color: rgb(46, 244, 46);
  border-style: 50px solid;
}

.chess-board th {
  padding: .5em;
}

.chess-board td {
  border: 1px solid;
  width: 80px;
  height: 80px;
  
}

.chess-board .light {
  background-color: white; 
}

.chess-board .dark {
  background-color: black;
}

#rRook1, #rRook2, #rKnight1, #rKnight2, #rBishop1, #rBishop2, #rQueen, #rKing, #rPawnA, #rPawnB, #rPawnC, #rPawnD, #rPawnE, #rPawnF, #rPawnG, #rPawnH {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color:rgb(204, 1, 1);
  font-size: 50px;
  cursor: grab;
}

#bRook1, #bRook2, #bKnight1, #bKnight2, #bBishop1, #bBishop2, #bQueen, #bKing, #bPawnA, #bPawnB, #bPawnC, #bPawnD, #bPawnE, #bPawnF, #bPawnG, #bPawnH {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  color:rgb(29, 81, 252);
  font-size: 50px;
  cursor: grab;
  
}

